<div
  class="govuk-notification-banner dwp-support-banner"
  role="region"
  aria-labelledby="support-banner-title"
>
  <div class="govuk-notification-banner__header">
    <h3 class="govuk-notification-banner__title" id="support-banner-title">
      Screen size notice
    </h3>
  </div>

  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      This site is optimised for larger screens - layouts may appear more compact on smaller viewports.
    </p>
    <p class="govuk-body">
      For the best experience, use a larger display or increase your browser window size.
    </p>
    <p class="govuk-body">
      Alternatively, you can <a href="https://dwpdigital.atlassian.net/wiki/RwSIOB8">check the Confluence page for this visualisation</a> which represents the same content as text.
    </p>
  </div>
</div>