---
layout: base.njk
title: A sustainable DWP with a smaller, better, greener estate
pillarId: p6
---

<div class="container">
  {% include "nav-wheel.njk" %}

  {% include "services-activities.njk" %}

  {% include "product-grid-tiles.njk" %}
</div>