---
layout: base.njk
title: Strategy
---

<div class="container" style="display: flex;
  justify-content: center;
  align-items: center;">
  {% include "nav-wheel.njk" %}

  {# <ul class="products-grid">
    {% for tile in products %}
      <li>
        <div class="tile-bg"></div>
        <div class="tile-content">
          <img class="tile-icon" src="/icons/{{ tile.icon }}" alt="Icon of {{ tile.label }}"/>
          <span class="tile-label">{{ tile.label }}</span>
        </div>
      </li>
    {% endfor %}
  </ul> #}
</div>